.row {
  height: 60px;
  max-height: 60px;
  width: 100%;
  display: block;
  cursor: pointer;
  text-align: left;
  color: var(--medium-gray);
  transition: all 0.2s ease;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
}

.row:not(:last-child) {
  border-bottom: 2px solid var(--medium-gray);
}

.row span {
  display: flex;
  height: auto;
  align-items: center;
  transition: all 0.2s ease;
  padding: 0 var(--margin) 0 var(--margin);
}

/* .row:not(:last-child) span { */
/*   border-bottom: 2px solid var(--medium-gray); */
/* } */

.row span.text {
  flex: 1 1 auto;
  font-family: var(--font);
  font-size: 1.2em;
}

.row:hover {
  color: var(--black);
  border-bottom-color: var(--black);
}

.row:not(:last-child) {
  margin: 0 0 0 0;
}
