.action-button {
  width: 60px;
  height: 100%;
  font-family: var(--font-title);
  border-left: 2px solid var(--medium-gray);
  background: transparent;
  color: var(--medium-gray);
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  text-shadow: none;
  cursor: pointer;
  flex: 0 0 auto;
}

.action-button:not(:firs-child) {
  border-top: none;
}

.action-button:hover {
  color: var(--red);
  border-left-color: var(--red);
}

.action-button i {
  font-style: normal;
}
