textarea {
  width: 100%;
  height: auto;
  font-family: var(--font);
  padding: var(--half-margin) 0 2px 0;
  font-size: 1.2em;
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--light-gray);
  border-bottom: 2px solid var(--medium-gray);
  transition: all 0.2s ease;
  color: var(--medium-gray);
}

textarea:focus {
  color: var(--black);
}
