.row {
  height: 60px;
  max-height: 60px;
  width: 100%;
  display: block;
  cursor: pointer;
  text-align: left;
  color: var(--medium-gray);
  transition: all 0.2s ease;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
}

.row:not(:last-child) {
  border-bottom: 2px solid var(--medium-gray);
}

.row span {
  display: flex;
  height: auto;
  align-items: center;
  transition: all 0.2s ease;
}

.row .text {
  flex: 1 1 auto;
  font-family: var(--font);
  font-size: 1.2em;
  padding: 0 var(--margin) 0 var(--margin);
}

.row .draggable {
  padding: 0 var(--margin) 0 var(--margin);
}

.row:hover {
  color: var(--black);
  border-bottom-color: var(--black);
}

.row:not(:last-child) {
  margin: 0 0 0 0;
}

.reordable-row .text {
  position: relative;
}

.reordable-row .text span {
  z-index: 2;
}

.reordable-row.is-dragging .draggable {
  color: var(--red);
}

.reordable-row .draggable {
  cursor: move;
  padding-bottom: 4px;
  border-right: 2px solid var(--medium-gray);
}

@media screen and (max-width: 40em) {
  .row .text,
  .row .draggable {
    padding: 0 var(--half-margin) 0 var(--half-margin);
  }
}
