.tasks {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.child {
  width: auto;
  height: 100%;
  border-left: 2px solid var(--medium-gray);
  overflow-y: auto;
  flex: 1 0 auto;
}
