.error {
  width: 80%;
  min-height: 50%;
  background: var(--dark-gray);
  border: 2px solid var(--dark-blue);
  text-align: center;
  padding: var(--margin);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  font-size: 1.2em;
  letter-spacing: 1em;
  font-weight: 100;
  text-transform: uppercase;
  margin: var(--margin) auto var(--double-margin) auto;
}

code {
  background: var(--black);
  color: var(--red);
  padding: var(--half-margin);
}
