.error {
  min-height: 50%;
  border: 2px solid var(--black);
  text-align: center;
  padding: var(--margin);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  margin: var(--margin) auto;
}

code {
  color: var(--red);
  font-family: var(--font);
  padding: var(--half-margin);
}
