.time-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.time-input input[type='number'] {
  border: 2px solid var(--medium-gray);
  text-align: center;
  padding: var(--half-margin);
  width: 40%;
  flex: 1 1 auto;
}

.time-input span {
  font-size: 2em;
  color: black;
  padding: var(--half-margin);
}
