#header {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: var(--font-title);
  padding-top: var(--margin);
  color: var(--black);
  font-size: 2em;
  letter-spacing: 0.1em;
}

#header ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#header li {
  display: flex;
  align-content: center;
  justify-content: center;
}

#header a {
  margin: 0;
  width: 100%;
  text-align: center;
  display: block;
  color: var(--medium-gray);
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 2px solid var(--white);
}
#header li:not(:last-child) {
  /* border-right: 1px solid var(--light-gray); */
}

#header a:not(.active):hover {
  color: var(--black);
  text-decoration: line-through;
}

#header a.active {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}

@media screen and (max-width: 40em) {
  #header {
    font-size: 1.5em;
  }
}
