.container.load {
  width: 80%;
  padding: var(--margin) var(--margin) var(--margin) var(--margin);
}

.load {
  width: 100%;
  font-family: var(--font-title);
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: var(--medium-gray);
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.load .drop {
  padding: var(--double-margin) 0 var(--double-margin) 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--medium-gray);
  transition: all 0.2s ease;
  cursor: copy;
}

.load .drop:hover {
  color: var(--black);
  border-color: var(--black);
}

.load .active-drop {
  color: var(--light-blue);
  border-color: var(--light-blue);
}
