.button {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  text-shadow: none;
  cursor: pointer;
  font-family: var(--font-title);
  border: 2px solid var(--medium-gray);
  background: transparent;
  color: var(--medium-gray);
}

a.button {
  color: var(--medium-gray);
  text-decoration: none;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:hover {
  color: var(--black);
}

.button.red {
  color: var(--black);
}

.button.red:hover {
  color: var(--red);
}

.button.blue {
  color: var(--black);
  border: 2px solid var(--dark-blue);
}

.button.blue:hover {
  /* background-color: var(--blue); */
  border-color: var(--light-blue);
  color: var(--dark-blue);
}
