.actions {
  height: var(--actions-height);
  margin: 0 auto var(--margin) auto;
  padding: 0;
  list-style: none;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.actions li {
  flex: 0 0 auto;
  display: inline-block;
  text-align: left;
  font-family: var(--font-title);
  font-size: 1em;
  letter-spacing: 0.1em;
  color: var(--medium-gray);
  text-decoration: none;
  padding: var(--half-margin);
  transition: 0.2s ease all;
  cursor: pointer;
  border: 2px solid var(--medium-gray);
}

.actions li:not(:last-child) {
  margin-right: var(--margin);
}

.actions li:hover {
  color: var(--black);
  border-color: var(--black);
}

@media screen and (max-width: 40em) {
  .actions {
    border: 2px solid var(--medium-gray);
    height: auto;
  }

  .actions li {
    border: none;
    padding: 5px;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .actions li:not(:last-child) {
    margin: 0;
    border-right: 2px solid var(--medium-gray);
  }
}
